<?xml version="1.0"?>
<config>
    <modules>
        <Inkygroup_Reinexp>
            <version>1.0.0</version>
        </Inkygroup_Reinexp>
    </modules>

    <frontend>
        <layout>
            <updates>
                <inkygroup_reinexp>
                    <label>Inkygroup Layout</label>
                    <file>inkygroup_reinexp.xml</file>
                </inkygroup_reinexp>
            </updates>
        </layout>
    </frontend>

    <global>

        <helpers>
            <inkygroup_reinexp>
                <class>Inkygroup_Reinexp_Helper</class>
            </inkygroup_reinexp>
        </helpers>

        <blocks>
            <inkygroup_reinexp>
                <class>Inkygroup_Reinexp_Block</class>
            </inkygroup_reinexp>

            <adminhtml>
                <rewrite>
                    <customer_grid>Inkygroup_Reinexp_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>

        </blocks>

        <models>
            <inkyslider>
                <class>Inkygroup_Reinexp_Model</class>
                <resourceModel>inkyslider_resource</resourceModel>
            </inkyslider>

            <inkyslider_resource>
                <class>Inkygroup_Reinexp_Model_Resource</class>
                <entities>
                    <slider>
                        <table>inky_slider_items</table>
                    </slider>
                </entities>
            </inkyslider_resource>

        </models>

        <resources>
            <inkyslider_setup>
                <setup>
                    <module>Inkygroup_Reinexp</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </inkyslider_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <inkyslider>
                <use>admin</use>
                <args>
                    <module>Inkygroup_Reinexp</module>
                    <frontName>inkyslider</frontName>
                </args>
               <!-- <args>
                    <module>
                        <inkygroup_reinexp before="Mage_Adminhtml">Inkygroup_Reinexp_Adminhtml</inkygroup_reinexp>
                    </module>
                </args>-->
            </inkyslider>
        </routers>

    </admin>

    <default>
        <carriers>
            <reinexp>
                <active>1</active>
                <model>inkygroup_reinexp/carriers_inkycargo</model>
                <title>Inky Post</title>
                <name>Inky Shipping Method</name>
                <price>5.00</price>
                <sallowspecific>0</sallowspecific>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </reinexp>
        </carriers>
    </default>

</config>